#preview img {
	width: 320px;
	height: 240px;
	display: none;
}
#show-image{
	width: 320px;
	padding: 0;
}
.panel.panel-success.shower{
	display: none;
}
.table{
	margin-bottom: 0;
}
.row.buttons{
	margin-bottom: 20px;
}
.admin-img-show{
	width: 65px;
	height: 50px;
	padding: auto;
}
.id{
	display: none;
}